<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <title>Article Categories</title>
</head>

<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="page-header">
            <h1>Article Categories</h1>
        </div>
        <ul>
            <th:block th:each="category : ${categories}">
                <h3 th:text="${category.title}"></h3>
                <p th:text="${category.description}"></p>
                <ul>
                    <th:block th:each="article : ${category.articles}">
                        <li><a th:href="@{/articles/__${article.id}__}" th:text="${article.title}"></a></li>
                    </th:block>
                </ul>
            </th:block>
        </ul>
    </div>
</th:block>

</body>
</html>
