<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/moderation">

<head>
    <title>Accounts</title>
</head>

<body>
<th:block layout:fragment="content">

    <table class="account-table table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Enabled</th>
            <th>Actions</th>
        </tr>
        </thead>
    </table>

</th:block>

<!-- Initialize javascript for this page -->
<script type="application/javascript" layout:fragment="javascript">
    $(function () {
        AccountManagement.initAccounts();
    });
</script>

</body>
</html>