<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/moderation">

<head>
    <title>Article</title>
</head>

<body>
<th:block layout:fragment="content">
    <form name="articleCategoryForm"
          method="POST"
          th:attr="data-article-category-id=${article.id}"
          th:action="@{/administrate/articles/__${article.id}__}"
          th:object="${article}">


        <div class="row">
            <div class="col-md-12">
                <h2>Article</h2>
                <div class="row">
                    <div class="col-md-6">
                        <th:block th:include="fragments/forms :: input
                        ('title', *{title}, 'title', 'Title', 'Enter title')"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-12 control-label">
                Description
                <textarea th:text="*{shortDescription}" name="shortDescription" rows="3" class="form-control"
                          placeholder="Enter article  short description"></textarea>
            </label>
        </div>
        <div class="row">
            <label class="col-xs-12 control-label">
                Description
                <textarea th:text="*{description}" name="description" rows="3" class="form-control"
                          placeholder="Enter article description"></textarea>
            </label>
        </div>

        <!-- Submit and back -->
        <button type="submit" class="btn btn-success">Save</button>
        <a th:href="@{/administrate/articles}" class="btn btn-danger">Cancel</a>
    </form>
</th:block>

<!-- Initialize javascript for this page -->
<script type="application/javascript" layout:fragment="javascript">
    $(function () {
        ArticleCategoryManagement.initCategory();
    });
</script>

</body>
</html>