<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/moderation">

<head>
    <title>Audit</title>
</head>

<body>
<th:block layout:fragment="content">

    <h2>Audit</h2>
    <p>Statistics and audit data gathered from the entire application</p>
    <hr/>

    <div class="row">

        <!-- General stats -->
        <div class="col-md-6" th:object="${auditPackage}">
            <h4>General information</h4>
            <p>
                In total there are <code th:text="*{totalAccountCount}"></code> accounts registered on your website.
                Your website also has <code th:text="*{totalRestaurantCount}"></code> registered restaurants.
            </p>
            <p>
                You can manage registered accounts <a th:href="@{/administrate/accounts}">here</a>.
            </p>
            <p>
                At the moment there are <code th:text="*{loggedInUserCount}"></code> users using the website.
            </p>
        </div>

        <!-- Account graph -->
        <div class="col-md-6">
            <h4>User graph</h4>
            <p>This graph represents registered user count per each day of this week.</p>
            <canvas class="user-chart" height="100"></canvas>
        </div>

        <!-- Audit logs -->
        <div class="col-md-12">
            <hr/>
            <h4>General audit</h4>
            <p>Audit data gathered from various internal service actions and error.</p>
            <table class="audit-table table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Created on</th>
                    <th>Caused by</th>
                    <th>Message</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <!--<th:block th:include=":: userInfo('Registered', *{#dates.format(registrationDate, 'yyyy MMM dd')})"/>-->

    <!-- Fragment for create audit info modal content -->
    <th:block th:fragment="auditInfo (name, clazz)">
        <div class="row">
            <div class="col-xs-4">
                <strong th:text="${name}"></strong>
            </div>
            <div class="col-xs-8">
                <span th:class="${clazz}"></span>
            </div>
        </div>
    </th:block>

    <!-- Modal for more info about an audit message -->
    <div class="info-modal modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h6 class="modal-title">Information about audit message</h6>
                </div>
                <div class="modal-body">

                    <!-- The actual audit message info which is to be replaced via ja -->
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Details</h5>
                            <th:block th:include="this :: auditInfo('Id', 'audit-id')"/>
                            <th:block th:include="this :: auditInfo('Message', 'audit-message')"/>
                            <th:block th:include="this :: auditInfo('Creation date', 'audit-creation-date')"/>
                        </div>
                        <div class="col-md-12 account-details">
                            <h5>Created by</h5>
                            <th:block th:include="this :: auditInfo('Id', 'audit-user-id')"/>
                            <th:block th:include="this :: auditInfo('Username', 'audit-username')"/>
                            <th:block th:include="this :: auditInfo('Email', 'audit-email')"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</th:block>

<!-- Initialize javascript for this page -->
<th:block layout:fragment="javascript">

    <!-- Need to use this to get some data from model -->
    <script type="application/javascript" th:inline="javascript">
        $(function () {
            /*<![CDATA[*/
            Audit.initAudit([[${auditPackage.accountCounts}]]);
            /*]]>*/
        });
    </script>
</th:block>

</body>
</html>