<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <title>Threads</title>
</head>

<body>

<th:block layout:fragment="content">
    <div class="container">
        <div class="thread">
            <div class="thread-title">
                <h3 th:text="${thread.title}"></h3>
                <th:block th:switch="*{canEdit}">
                    <th:block th:case="${true}">
                        <a
                                th:href="@{/threads/list/__${thread.threadCategory.id}__/thread/control/__${thread.id}__}"
                                class="btn btn-success">Edit thread</a>
                        <a
                                th:href="@{/threads/list/__${thread.threadCategory.id}__/thread/__${thread.id}__/delete}"
                                class="btn btn-danger">Delete thread</a>

                    </th:block>

                </th:block>

                <th:block th:switch="*{canComment}">
                    <th:block th:case="${true}">
                        <div style='padding: 10px 0;'>
                            <a
                                    th:href="@{/threads/list/__${thread.threadCategory.id}__/thread/control/__${thread.id}__/comment/0}"
                                    class="btn btn-success">Comment</a>
                        </div>
                    </th:block>

                </th:block>

            </div>
            <div class="original-thread-comment">
                <div class="thread">
                    <div class="thread-info">
                        <div class="posted-by">
                            <span th:text="${thread.account.username}"></span>
                        </div>
                        <ul class="thread-info-list">
                            <li th:text="${thread.monthYear}"></li>
                            <li>in <a th:href="@{/threads/list/__${thread.threadCategory.id}__}"
                                      th:text="${thread.threadCategory.name}"></a></li>
                        </ul>
                    </div>
                    <div class="thread-post">
                        <p th:text="${thread.description}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="thread-list">
            <div><h3>Comments</h3></div>
            <th:block th:each="comment : ${thread.comments}">
                <div class="comment">
                    <div class="top">
                        <div class="user-info">
                            <div class="username" th:text="${comment.account.prettyUsername}"></div>
                            <div class="date" th:text="${comment.monthYear}"></div>
                            <!--<th:block th:switch="*{}">-->
                            <!--<a-->
                            <!--th:href="@{/threads/list/__${thread.threadCategory.id}__/thread/control/__${thread.id}__/comment/__${comment.id}__}"-->
                            <!--class="btn btn-warning">Edit comment</a>-->
                            <!--</th:block>-->
                        </div>
                        <div class="votes">
                            <th:block th:switch="*{canComment}">
                                <a th:case="${true}"
                                   th:href="@{/threads/list/__${thread.threadCategory.id}__/thread/__${thread.id}__/comment/__${comment.id}__/1}"
                                   class="btn btn-success">
                                    <span class=" glyphicon glyphicon-arrow-up"></span>
                                </a>
                            </th:block>
                            <span style="padding: 0px 15px;" class="score">Rating: <span
                                    th:text="${comment.votes}"></span></span>
                            <th:block th:switch="*{canComment}">
                                <a th:case="${true}"
                                   th:href="@{/threads/list/__${thread.threadCategory.id}__/thread/__${thread.id}__/comment/__${comment.id}__/0}"
                                   class="btn btn-danger">
                                    <span class=" glyphicon glyphicon-arrow-down"></span>
                                </a>
                            </th:block>

                        </div>
                    </div>
                    <div class="comment-text" th:text="${comment.text}"></div>
                </div>
            </th:block>


        </div>
    </div>
</th:block>

</body>
</html>