<!-- Moderation layout viewable by system managers -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <!-- Include meta tags and css files -->
    <th:block th:include="fragments/global :: head"/>

    <!-- Title naming -->
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">
        FoodTrip
    </title>
</head>
<body>

<!-- Include main navbar -->
<th:block th:include="fragments/global :: navbar"/>


<!-- Page content -->
<div class="container-fluid">
    <div class="row">

        <!-- Admin sidebar with link and stuff -->
        <th:block th:include="fragments/global :: sidebar"/>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
            <th:block layout:fragment="content"/>
        </div>
    </div>
</div>

<!-- Global javascript files -->
<th:block th:include="fragments/global :: footer"/>

<!-- Additional javascript files per page -->
<th:block layout:fragment="javascript"/>

</body>
</html>