<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <title>Profile</title>
</head>

<body>

<!-- Restaurant info fragment -->
<th:block th:fragment="restaurantInfo (name, value)">
    <div class="row">
        <div class="col-md-6">
            <strong th:text="${name}"></strong>
        </div>
        <div class="col-md-6">
            <th:block th:text="${value}"/>
            <th:block th:if="${value == null or value == ''}">
                <span class="label label-default">Not set</span>
            </th:block>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content" th:object="${restaurant}">

    <!-- Details and navigation? -->
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left" th:text="*{name}"></div>
            </div>
            <div class="panel-body">

                <h5>Information</h5>
                <th:block th:include="this :: restaurantInfo('Name', *{name})"/>
                <th:block th:include="this :: restaurantInfo('Email', *{email})"/>
                <th:block
                        th:include="this :: restaurantInfo('Created on', *{#dates.format(creationDate, 'yyyy MMM dd')})"/>
                <th:block th:include="this :: restaurantInfo('Rating', *{rating})"/>
                <th:block th:include="this :: restaurantInfo('Hygiene index', *{hygieneLevel})"/>
                <th:block th:include="this :: restaurantInfo('Views', *{viewCount})"/>
                <th:block th:include="this :: restaurantInfo('Employees', *{accounts.size()})"/>
                <th:block th:if="*{location != null and  location.city != null}">
                    <th:block th:include="this :: restaurantInfo('City', *{location.city.name})"/>
                </th:block>
                <th:block th:if="*{location != null and  location.city != null}">
                    <th:block th:include="this :: restaurantInfo('Country', *{location.city.country})"/>
                </th:block>
                <th:block th:if="*{location != null and  location.street != null}">
                    <th:block th:include="this :: restaurantInfo('Street', *{location.street})"/>
                </th:block>
                <th:block th:if="*{location != null and  location.dangerIndex != null}">
                    <th:block th:include="this :: restaurantInfo('Danger index', *{location.dangerIndex})"/>
                </th:block>

                <h5>Description</h5>
                <th:block th:if="*{description == null or description == ''}">
                    This restaurant has not yet filled out its description.
                </th:block>
                <p class="break-text" th:if="*{description != null and description != ''}" th:text="*{description}"></p>
            </div>
        </div>

        <!-- Restaurant Details-->
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">Restaurant details</div>
            </div>
            <div class="panel-body">

                <h5>Details</h5>
                <th:block
                        th:include="this :: restaurantInfo('Registration code', *{restaurantDetails.registrationCode})"/>
                <th:block th:include="this :: restaurantInfo('VAT', *{restaurantDetails.vat})"/>
                <th:block
                        th:include="this :: restaurantInfo('Manager', *{restaurantDetails.manager})"/>
                <th:block th:include="this :: restaurantInfo('Phone number', *{restaurantDetails.phoneNumber})"/>
                <th:block th:include="this :: restaurantInfo('Fax', *{restaurantDetails.fax})"/>
                <th:block th:include="this :: restaurantInfo('Website', *{restaurantDetails.website})"/>
                <th:block th:include="this :: restaurantInfo('Mobile', *{restaurantDetails.mobileNumber})"/>
                <th:block
                        th:include="this :: restaurantInfo('Bank account number', *{restaurantDetails.bankAccountNumber})"/>
                <th:block th:if="*{restaurantDetails.bank != null}">
                    <th:block th:include="this :: restaurantInfo('Bank', *{restaurantDetails.bank.name})"/>
                </th:block>

            </div>
        </div>

        <!-- New offer -->
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">New offer</div>
            </div>
            <div class="panel-body">
                <form name="offerForm" th:action="@{/restaurant/offer}" th:object="${offer}" method="POST">


                    <div class="row">
                        <div class="col-md-12">
                            <th:block th:include="fragments/forms :: input
                            ('text', *{headline}, 'headline', 'Offer headline', 'Enter new offer headline')"/>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="row">
                                    <label class="col-xs-12 control-label">
                                        Description
                                        <textarea th:text="*{description}"
                                                  name="description"
                                                  rows="3"
                                                  class="form-control"
                                                  placeholder="Offer description"></textarea>
                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-12">
                            <th:block th:include="fragments/forms :: input
                            ('text', *{validThrough}, 'validThrough', 'Valid through', 'Enter expiration date')"/>
                        </div>


                    </div>


                    <button type="submit" class="btn btn-sm btn-success">Save</button>
                </form>

            </div>
        </div>

    </div>


    <!-- Main restaurant profile management -->
    <div class="col-md-9">

        <!-- Display a success alert if needed -->
        <div class="alert alert-dismissible alert-success" th:if="${success}">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <strong>Success!</strong>
            <th:block th:text="${success}"/>
        </div>

        <!-- Or an error -->
        <div class="alert alert-dismissible alert-danger" th:if="${error}">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <strong>Error!</strong>
            <th:block th:text="${error}"/>
        </div>

        <!-- The main editing form -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit restaurant profile
            </div>
            <div class="panel-body">
                <form name="profileForm" th:action="@{/restaurant}" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <th:block th:include="fragments/forms :: input
                            ('text', *{name}, 'name', 'Restaurant name', 'Enter unique restaurant name')"/>

                            <th:block th:include="fragments/forms :: input
                            ('email', *{email}, 'email', 'Email address', 'Enter unique restaurant email address')"/>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-xs-12 control-label">
                                        Description
                                        <textarea th:text="*{description}"
                                                  name="description"
                                                  rows="3"
                                                  class="form-control"
                                                  placeholder="Restaurant description"></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="registrationDetails">
                        <div class="row">
                            <div class="col-md-6">
                                <th:block th:include="fragments/forms :: input
                            ('text', *{restaurantDetails.registrationCode}, 'restaurantDetails.registrationCode', 'Registration code', 'Enter unique registration code')"/>
                            </div>
                            <div class="col-md-6">
                                <th:block th:include="fragments/forms :: input
                            ('text', *{restaurantDetails.vat}, 'restaurantDetails.vat', 'VAT', 'Enter unique VAT code')"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <th:block th:include="fragments/forms :: input
                            ('text', *{restaurantDetails.manager}, 'restaurantDetails.manager', 'Manager', 'Enter manager name')"/>
                            </div>
                            <div class="col-md-6">
                                <th:block th:include="fragments/forms :: input
                            ('text', *{restaurantDetails.phoneNumber}, 'restaurantDetails.phoneNumber', 'Phone number', 'Enter phone number')"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <th:block th:include="fragments/forms :: input
                            ('text', *{restaurantDetails.fax}, 'restaurantDetails.fax', 'FAX', 'Enter FAX number')"/>
                            </div>
                            <div class="col-md-6">
                                <th:block th:include="fragments/forms :: input
                            ('text', *{restaurantDetails.website}, 'restaurantDetails.website', 'Web site', 'Enter website')"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <th:block th:include="fragments/forms :: input
                            ('text', *{restaurantDetails.mobileNumber}, 'restaurantDetails.mobileNumber', 'Mobile number', 'Enter Mobile number')"/>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <th:block th:include="fragments/forms :: input
                            ('text', *{restaurantDetails.bankAccountNumber}, 'restaurantDetails.bankAccountNumber', 'Bank account Number', 'Enter Bank account number')"/>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                Banks
                                <select name="restaurantDetails.bank" class="form-control">
                                    <option value="">Not selected</option>
                                    <th:block th:each="bank : ${banks}">
                                        <option th:selected="( *{restaurantDetails.bank} != null and ${bank.id} == *{restaurantDetails.bank.id})"
                                                th:value="${bank.id}" th:text="${bank.name}"></option>
                                    </th:block>
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                City
                                <select name="location.city" class="form-control">
                                    <!--TODO concat string with counry-->
                                    <option value="">Not selected</option>
                                    <th:block th:each="city : ${cities}">


                                        <option th:selected="( *{location.city} != null and ${city.id} == *{location.city.id})"
                                                th:value="${city.id}" th:text="${city.name}"></option>
                                    </th:block>
                                </select>
                            </div>


                            <div class="col-md-6">
                                <th:block th:include="fragments/forms :: input
                            ('text', *{location.street}, 'location.street', 'Street', 'Enter street')"/>
                            </div>


                            <div class="col-md-6">
                                <th:block th:include="fragments/forms :: input
                            ('text', *{location.dangerIndex}, 'location.dangerIndex', 'Danger index', 'Enter danger index')"/>
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-sm btn-success">Save</button>
                </form>
            </div>
        </div>


        <div class="row">
            <!-- Accounts under this restaurant -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Employees
                    </div>
                    <div class="panel-body">
                        <table class="accounts-table table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="account : *{accounts}" th:object="${account}">
                                <td th:text="*{id}"></td>
                                <td th:text="*{prettyUsername}"></td>
                                <td th:text="*{email}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Restaurant invitations -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Invitations
                        <div class="pull-right">
                            <button class="invite-account btn btn-xs btn-default">Invite</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="invitations-table table table-striped table-bordered" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Username</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>


                <!-- Invite new user modal -->
                <div class="modal fade invite-modal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Invite new user</h4>
                            </div>
                            <form name="inviteForm" method="POST">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-xs-12">
                                                Username
                                                <input class="form-control" required="required" type="text"
                                                       name="username"/>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Invite</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Restaurant audit logs -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Audit
            </div>
            <div class="panel-body">
                <table class="audit-table table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Creation date</th>
                        <th>Action</th>
                        <th>Message</th>
                        <th>Caused by</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>


    <!-- Restaurant offers -->
    <div class="col-md-push-3 col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                Offers
            </div>
            <div class="panel-body">
                <table class="offers-table table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Headline</th>
                        <th>Description</th>
                        <th>Publication date</th>
                        <th>Valid through</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</th:block>

<!-- Initialize javascript for this page -->
<script type="application/javascript" layout:fragment="javascript">
    $(function () {
        Offers.initOffers();
        RestaurantProfile.init();
    });
</script>

</body>
</html>