<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <title>Register</title>
</head>

<body>
<th:block layout:fragment="content">
    <div class="col-sm-offset-4 col-sm-4">

        <div class="alert alert-dismissible alert-danger" th:if="${error}">
            <button data-dismiss="alert" class="close" type="button">×</button>
            <strong>Error!</strong>
            <th:block th:text="${error}"/>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Register new restaurant
            </div>
            <div class="panel-body">

                <!-- Form is validated via js -->
                <form name="registerForm" th:action="@{/restaurant/register}" th:object="${restaurant}" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <th:block th:include="fragments/forms :: input
                            ('text', *{name}, 'name', 'Restaurant name', 'Enter unique restaurant name')"/>

                            <th:block th:include="fragments/forms :: input
                            ('email', *{email}, 'email', 'Email address', 'Enter unique restaurant email address')"/>

                            <div class="form-group">
                                <div class="row">
                                    <label class="col-xs-12 control-label">
                                        Description
                                        <textarea th:text="*{description}"
                                                  name="description"
                                                  rows="3"
                                                  class="form-control"
                                                  placeholder="Restaurant description"></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-success">Register</button>
                    <a th:href="@{/}" class="btn btn-sm btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</th:block>

<!-- Initialize javascript for this page -->
<script type="application/javascript" layout:fragment="javascript">
    $(function () {
        RestaurantRegister.init();
    });
</script>

</body>
</html>