<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <title>Home</title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-lg-12">
        <div class="page-header">
            <h1>Example home page with layouts</h1>
        </div>
        <ul style="font-size: 2em; height: 800;">
            <li th:each="var : ${variables}">
                <th:block th:text="${var}"/>
            </li>
        </ul>
    </div>
</div>

<th:block layout:fragment="js">
    <script type="application/javascript">
        $(function () {
            console.log("Home page loaded");
        });
    </script>
</th:block>

</body>
</html>