<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<head>
    <title>Home</title>
</head>

<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="page-header">
            <h1>Example home page with layouts</h1>
        </div>
        <ul style="font-size: 2em; height: 800;">
            <li th:each="var : ${variables}">
                <th:block th:text="${var}"/>
            </li>
        </ul>
        <p>
            You can log-in and register an account, a default account with such details is always created:
        </p>
<pre>username: admin
password: admin
</pre>
        <div>
            Using this theme:
            <a href="https://bootswatch.com/paper/">https://bootswatch.com/paper/</a>
        </div>
    </div>
</th:block>

</body>
</html>